<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="filePastries" value="C:\Dasha\University\SeparatedData\confectioneryEnterprise\ConfectionaryEnterprise.WcfService\XML\Pastries.xml"/>
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="ConfectioneryEnterprise.WcfService.Contract.PastryService.PastryService" behaviorConfiguration="mexBehavior">
      </service>
    </services>
  </system.serviceModel>
</configuration>