<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="filePastries" value="C:\Dasha\University\SeparatedData\confectioneryEnterprise\ConfectionaryEnterprise.WcfService\XML\Pastries.xml"/>
    <add key="fileIngredients" value="C:\Dasha\University\SeparatedData\confectioneryEnterprise\ConfectionaryEnterprise.WcfService\XML\Ingredients.xml"/>
  </appSettings>
  <system.serviceModel>
    <services>
      <!--#Laboratorna5-->
      <!--<service behaviorConfiguration="mexBehavior" name="ConfectioneryEnterprise.WcfService.Contract.PastryContract.PastryService">
        <endpoint address="PastryService" binding="basicHttpBinding"
          contract="ConfectioneryEnterprise.WcfService.Contract.PastryContract.IPastryService" />
        <endpoint address="IngredientService" binding="basicHttpBinding" 
          contract="ConfectionaryEnterprise.WcfService.Contract.PastryContract.IngredientContract.IIngredientService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/" />
          </baseAddresses>
        </host>
      </service>-->
      <service name="ConfectioneryEnterprise.WcfService.Contract.PastryContract.PastryService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  <!--#Laboratorna5-->
  <!--<behaviors>
    <serviceBehaviors>
      <behavior name="mexBehavior">
        <serviceMetadata httpGetEnabled="true"/>
        <serviceDebug includeExceptionDetailInFaults="true"/>
      </behavior>
    </serviceBehaviors>
  </behaviors>-->
  </system.serviceModel>
</configuration>