@model ConfectioneryEnterprise.Web.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Home Page";
}

<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row fullscreen d-flex justify-content-center align-items-center">
            <div class="banner-content col-lg-10 col-md-12 justify-content-center">
                <h6 class="text-uppercase">Whenever we bake, bake with our heart</h6>
                <h1>
                    Love with baking items
                </h1>
                <a href="#login" class="primary-btn squire text-uppercase mt-10">Login - to go personal account</a>
            </div>
        </div>
    </div>
</section>


<!-- Start home-about Area -->
<section class="home-about-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h6 class="text-uppercase">Brand new app to blow your mind</h6>
                <h1>
                    We’ve baked every item
                    from the core of our heart to serve you
                </h1>

                <form action="/Home/Login"
                      asp-controller="Home"
                      method="get"
                      id="login">
                    <div class="mt-2">
                        <input type="text"
                               asp-for="Login"
                               name="Login"
                               placeholder="Login" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Login'" required class="single-input">
                    </div>
                    <div class="mt-10">
                        <input type="password"
                               asp-for="Password"
                               name="Password"
                               placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" required class="single-input">
                    </div>
                    <input type="submit" value="Get Started Now" class="primary-btn squire mx-auto mt-20" />
                </form>
                @*<a class="primary-btn squire mx-auto mt-20" href="#">Get Started Now</a>*@
            </div>
        </div>
    </div>
    <img class="about-img" src="/img/about-img.png" alt="">
</section>
<!-- End home-about Area -->